@charset "UTF-8";
/*css初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
    margin: 0;
    padding: 0;
}
/*fieldset组合表单中的相关元素*/
fieldset,img,input,button{
    border: none;
    padding: 0;
    margin: 0;
    outline-style:none; 
}
/*清楚列表风格*/
ul,ol{
    list-style: none;
}
input{
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun","宋体";
}
select,input{
    vertical-align: middle;     /*设置元素的垂直对齐方式*/
}
select,input,textarea{
    font-size: 12px;
    margin: 0;
}
textarea{
    resize: none;   /*防止多行文本框拖动*/
}

img{
    border:0;
    vertical-align: middle;     /*去掉图片底侧默认的3像素空白缝隙*/
}

body{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53"; /*宋体，Unicode，统一码*/
    color:#666;
    background: #fff;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/ /*清楚浮动*/
}

a{
    text-decoration:none;
}

a:hover{
    color: #c81623;
}

h1,h2,h3,h4,h5,h6{
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s,i,em{
    font-style: normal;
    text-decoration: none;
}

.col-red{
    color: #c81623;
}

/*公共类*/
.w{
    /*版心 提取*/
    width: 1190px;
    margin: 0 auto;
    position: relative;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.al{
    text-align: left;
}

.ac{
    text-align: center;
}

.ar{
    text-align: right;
}

.hide{
    display: none;
}

/*nav*/
.site-nav{
    height: 30px;
    background: #f0f0f0;
    line-height: 30px;
}
.site-nav-send{
    position: relative;
    padding: 0 25px 0 10px;
}
.site-nav .fore{
    position: relative;
    padding: 0 25px 0 10px;
}
.site-nav i{
    width: 15px;
    height: 7px;
    position: absolute;
    top: 12px;
    right: 8px;
    overflow: hidden;
}
.site-nav s{
    position: absolute;
    top: -8px;
    font:400 12px/150% "consolas";
}

/*var right*/
.site-nav li{
    float: left;
    padding: 0 10px;
}
.site-nav li.shu{
    width: 1px;
    height: 15px;
    background: #ddd;
    padding: 0;
    margin-top: 9px;
}
.jd-tel{
    position: relative;
}
.site-nav .jd-tel{
    padding-left: 25px;
}
.site-nav .fore span{
    position: absolute;
    top:5px;
    left: 7px;
    width: 15px;
    height: 20px;
    background: url("../images/tel.png") no-repeat;
}

.fore:hover{
    background-color: #fff;
}
.dropdown{
    position: absolute;
    width: 214px;
    left: -1px;
    top: 30px;
    z-index: 999;
    background-color: #fff;
    padding-left: 10px;
    display: none;
}
.dropdown dt{
    font-size: 14px;
    color: #000;
}
.dropdown dl{
    float: left;
    padding-right:25px 
}
.fore:hover div{
    display: block;
}

/*nav 结束*/


/*top-banner开始*/
.top-banner{
    background-color: #37c2fb;
}
.top-banner-conter{
    position: relative;
}
.close-banner{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 19px;
    height: 19px;
    background: url("../images/close-banner.png") no-repeat;
}

.close-banner:hover{
    background-position: bottom;
}
/*top-banner结束*/

/*search开始*/
.search-logo{
    width: 300px;
    height: 80px;
    padding: 20px 0;
    float: left;
}

.search-logo a{
    float: left;
    height: 60px;
    width: 270px;
    text-indent: -5000px;
    background: url("../images/logo.png") no-repeat;
}

.search-input{
    float: left;
    width: 538px;
    height: 36px;
    padding-top: 25px;
}

.search-input input{
    padding-left: 5px;
    float: left;
    color: #cccccc;
    width: 449px;
    height: 32px;
    border: 2px solid #b61d1d;
    border-right: 0;
}

.search-input button{
    float: left;
    height: 36px;
    width: 82px;
    background-color: #b61d1d;
    color: #fff;
    font: 400 16px/36px "miscrosoft yahei";
    cursor: pointer;
}

.search-car{
    float: left;
    width: 139px;
    height: 34px;
    text-align: center;
    position: relative;
    line-height: 34px;
    margin: 25px 65px 0 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.search-car-gwc{
    position: absolute;
    width: 18px;
    height: 16px;
    top: 9px;
    left: 18px;
    background: url("../images/tel.png") no-repeat 0 -58px;
}
.search-car-jt{
    position: absolute;
    font: 400 13px/34px "simsun";
    right: 10px; 
}
.search-car-mag{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7px 7px 7px 0;
    top: -8px;
    right: 30px;
    background: #c00;
    color: #fff;
    line-height: 15px;
    text-align: center;
}
.search-moreAlink{
    float: left;
    width: 520px;
    height: 28px;
}

.search-moreAlink li{
    float: left;
    margin-right: 10px;
}
/*search结束*/

/*小导航部分*/
.navitems{
    width: 679px;
    height: 32px;
    position: absolute;
    bottom: 0;
    left: 300px;
    line-height: 32px;
}
.navitems li{
    float: left;
    margin-right: 24px;
}
.navitems li a{
    font-size: 16px;
    font-weight: 700;
    color: #555;
}
.navitems li a:hover{
    color: #f10215;
}
.navitems li.shu{
    width: 1px;
    height: 15px;
    background: #ddd;
    padding: 0;
    margin-top: 9px;
}

/*超市券*/
.chaoshiquan{
    position: absolute;
    bottom: 5px;
    right: 0;
}

/*footer*/
.footer{
    /*版心 提取*/
    width: 1190px;
    margin: 0 auto;
    position: relative;
}
.footer-top-slogen {
    width: 100%;
    height: 54px;
    position: relative;
    padding: 20px 0;
    margin-bottom: 16px;
    background-color: #F5F5F5;
}
.footer-top-slogen-icon {
    position: absolute;
    /*top: 20px;*/
    left: 50%;
}
.footer-top-slogen-icon1 {
    margin-left: -580px;
}
.footer-top-slogen-icon2 {
    margin-left: -290px;
}
.footer-top-slogen-icon3 {
    margin-left: 30px;
}
.footer-top-slogen-icon4 {
    margin-left: 320px;
}
.footer-top-shopping dl {
    float: left;
    width: 200px;
}
dl.last-dl {
    width: 147px;
}
.footer-top-shopping dt,
.coverage h3 {
    height: 34px;
    font: 400 16px/34px "microsoft yahei";
}
.footer-top-shopping dd {
    line-height: 20px;
}
.coverage {
    width: 186px;
    height: 169px;
    float: right;
    margin-right: 40px;
    padding-left: 17px;
    background: url(../images/china.png) no-repeat left bottom;
}
.coverage p {
    padding-top: 8px;
}
.coverage a {
    float: right;
}
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    padding: 20px 0 30px;
    border-top: 1px solid #E5E5E5;
}
.footer-bottom-links a {
    margin: 0 10px;
}
.footer-bottom-copyright {
    padding: 10px 0;
}
.footer-bottom-img a {
    margin: 0 5px;
}
/*footer部分end*/